.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.map path {
  fill: #393d3d;
  stroke: #000000;
  stroke-width: 0.25;
}

.map path:hover {
  fill: #ff5c00;
  transition: 0.6s;
  cursor: pointer;
}

#highLight {
  fill: #ff5c00;
  cursor: pointer;
  stroke: orange;
  stroke-width: 1.5;

  box-shadow: 0px 4px 50px 50px #ff5e00;
}

.mapContainer {
  width: 80%;
  /* width: 100%; */
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: linear-gradient(180deg, #0c1618 0%, #0d1010 100%);
}

.leftBar {
  width: 20%;
  height: 100%;
  background: linear-gradient(
      0.14deg,
      rgba(255, 255, 255, 0.2) 19.87%,
      rgba(12, 22, 24, 0.2) 100.94%
    ),
    #131c20;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

/* .leftBar2::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 200%;
  bottom: -25%;
  background: linear-gradient(180deg, #d9d9d9 0%, rgba(217, 217, 217, 0) 100%);
  animation: rotate 4s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .leftBar2::after { */
/* content: "";
  position: absolute;
  background: linear-gradient(
      0.14deg,
      rgba(255, 255, 255, 0.2) 19.87%,
      rgba(12, 22, 24, 0.2) 100.94%
    ),
    #131c20;
  inset: 5px;
  border-radius: 16px; */
/* } */

.BEEN {
  height: 10%;
  width: 100%;
  display: flex;
  position: relative;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  color: #ff5c00;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.beenUnderLine {
  width: 193px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid rgba(255, 92, 0, 0.44);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.BEEN2 {
  position: absolute;
  right: 20%;
}
.addCountryButton {
  width: 30px;
  height: 30px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background: radial-gradient(50% 50% at 50% 50%, #89959c 0%, #131c20 100%);
  border: 1px solid rgba(137, 149, 156, 0.37);
  border-radius: 50%;
}

.addCountryButton svg {
  position: absolute;
  color: #ff5c00;
  cursor: pointer;
}

.selectVisited {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  position: absolute;
  padding-top: 11px;
  color: #ffffff;
}
.visitedUnderLine {
}
.visitedUnderLine {
  position: absolute;
  top: 13%;
  width: 300px;
  border: 1px solid rgba(255, 255, 255, 0.71);
}
.map-2 #highLight {
  fill: #01a3e4;
  cursor: pointer;
  stroke: rgb(0, 159, 233);
  stroke-width: 1.5;
}
.map-2 path:hover {
  fill: #2970bc;
  transition: 0.6s;
  cursor: pointer;
}
.closeIcone svg {
  position: absolute;
  color: white;
  right: 3%;
  top: 3%;
  cursor: pointer;
}
.PLAN {
  height: 10%;
  width: 100%;
  display: flex;
  position: relative;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  color: #00a3ff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.PLAN2 {
  position: absolute;
  right: 20%;
}
.addCountryButton2 {
  width: 30px;
  height: 30px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background: radial-gradient(50% 50% at 50% 50%, #89959c 0%, #131c20 100%);
  border: 1px solid rgba(137, 149, 156, 0.37);
  border-radius: 50%;
}
.addCountryButton2 svg {
  position: absolute;
  color: #00a3ff;
  cursor: pointer;
}
.beenUnderLine2 {
  width: 193px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(0, 163, 255, 0.4);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.scrollBar {
  height: 100%;
  width: 100%;

  overflow: hidden;
}
::-webkit-scrollbar {
  /* color: #243036; */
  color: #576268;
}
.Logo_ {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 7px;
}

.menu_ {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 50px;

  align-items: center;
}
.theMenuList {
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 15px;
  line-height: 15px;
  text-align: center;

  color: #ffffff !important;
  /* cursor: pointer; */
}

.barsTopbelowLogo {
  width: 168px;
  height: 0px;
  margin-top: 4px;

  border: 1px solid #89959c;
}
.bars {
  width: 168px;
  height: 0px;
  margin: auto;

  border: 1px solid #89959c;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white !important;
  position: relative;
}

.nav-item svg {
  position: absolute;
  height: 100%;
  right: 0;
  cursor: pointer;
}

.theh5 {
  margin: 0px;
  padding: 0px;
  font-family: "Inter";
  font-style: italic;
  font-weight: 15px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 5px;
  color: #ea7407;
}

.Bewhite {
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  color: #ffffff;
}

.profile {
  width: 100%;
  height: 150px;
  box-sizing: border-box;

  position: absolute;
  width: 54px;
  height: 54px;
  border-radius: 180px;
  left: 12px;
  top: 930px;

  background: linear-gradient(
    186.22deg,
    #131c20 -87.4%,
    rgba(217, 217, 217, 0) 95.09%
  );
  border: 1px solid rgba(255, 255, 255, 0.46);
}

.username_ {
  position: absolute;
  width: 100px;
  height: 32px;
  left: 68px;
  top: 952px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  color: #ffffff;
}

.logouticon {
  color: #ffffff;
  position: absolute;
  top: 40px;
  right: 30px;
}
.backGround_ {
  /* background: linear-gradient(180deg, #89959c 0%, rgba(137, 149, 156, 0) 100%); */
  background: linear-gradient(
      0.14deg,
      rgba(255, 255, 255, 0.2) 19.87%,
      rgba(12, 22, 24, 0.2) 100.94%
    ),
    #131c20;
}
.motherContainer {
  box-sizing: border-box;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 507px;
  height: 100vh;
  position: relative;
  background: linear-gradient(
      0.14deg,
      rgba(255, 255, 255, 0.2) 19.87%,
      rgba(12, 22, 24, 0.2) 100.94%
    ),
    #131c20;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 15px;
}

.worldimage {
  position: relative;
  margin-top: 8px;
  box-sizing: border-box;
}

.imageTextContainer {
  position: relative;
}
.theh6 {
  position: absolute;
  bottom: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 1px;
}

.usernameLoginInput {
  position: absolute;

  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.usernameLoginInput svg {
  color: white;
  margin-left: -25px;
}
input {
  background: none;
  border: none;
  border-bottom: #ffffff;
  border-bottom: 1px solid white;
  width: 383px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

input:focus {
  outline: none;
}

.passwordLoginInput {
  position: absolute;

  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.passwordLoginInput svg {
  color: white;
  margin-left: -25px;
}

.rememberMecheckbox {
  position: absolute;

  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}
.rememberText {
  position: absolute;
  top: 44%;
  right: 66%;
  color: rgba(255, 255, 255, 0.53);
  font-style: normal;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  font-weight: 200;
  font-size: 12px;
}

.Button_ {
  position: absolute;
  width: 80%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 382px;
  height: 40px;

  background: #ffffff;
  box-shadow: 0px 4px 50px 10px rgba(23, 34, 39, 0.15);
  border-radius: 10px;
}
.Button_2 {
  position: absolute;
  width: 80%;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 382px;
  height: 40px;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0px 4px 50px 10px rgba(23, 34, 39, 0.15);
  border-radius: 10px;
}

.SignupOptionContainer {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.53);
  font-style: normal;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  font-weight: 100px;
  font-size: 16px;
}

.signUpOption {
  position: absolute;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ff5c00;
}

.EmailInput {
  position: absolute;
  padding-left: 1px;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.EmailInput svg {
  color: #ffffff;
  margin-left: -25px;
}
.usernameSignUpInput {
  position: absolute;

  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.usernameSignUpInput svg {
  color: white;
  margin-left: -25px;
}

.passwordSignUpInput {
  position: absolute;

  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.passwordSignUpInput svg {
  color: white;
  margin-left: -25px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}
a:focus {
  text-decoration: none;
  color: white;
}
a:active {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.active {
  color: #ff5c00 !important;
}

.AddCountryContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.AddCountryBox {
  width: 30%;
  height: 50%;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  box-shadow: 0px 3px 8px rgba(255, 255, 255, 0.25);
  background: linear-gradient(
      0.14deg,
      rgba(255, 255, 255, 0.2) 19.87%,
      rgba(12, 22, 24, 0.2) 100.94%
    ),
    #131c20;
}

.countrySelector_ {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.countrySelectorOpacity {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 70%;
  position: absolute;
}
.uploadContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 30%;
  height: 50%;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  box-shadow: 0px 3px 8px rgba(255, 255, 255, 0.25);

  background: linear-gradient(
      0.14deg,
      rgba(255, 255, 255, 0.2) 19.87%,
      rgba(12, 22, 24, 0.2) 100.94%
    ),
    #131c20;
}
.fileUpload {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  position: absolute;
  padding-top: 22px;
  color: #ffffff;
}
.uploadUnderLine {
  position: absolute;
  top: 10%;
  width: 300px;
  border: 1px solid rgba(255, 255, 255, 0.71);
}
.filesUploads {
  position: absolute;
  left: 30%;
  top: 25%;

  color: white;
  font-style: normal;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.5px;
  font-weight: 10;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
.filesUploads button {
  border-radius: 5px;
}
.uploadIcon svg {
  position: absolute;
  left: 113%;
  top: 0%;
  cursor: pointer;
}

.uploadUnderLine2 {
  position: absolute;
  width: 45%;
  height: 0px;
  left: 27%;
  top: 30.5%;

  border: 1px solid rgba(255, 255, 255, 0.71);
}
.descriptionC {
  position: absolute;
  width: 70%;
  height: 35%;
  left: 15.5%;
  top: 37%;

  background: rgba(12, 22, 24, 0.38);
  border-radius: 15px;
}
.description {
  position: absolute;
  width: 10%;
  height: 10%;
  left: 19%;
  top: 38%;

  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 12px;
  line-height: 19px;
  text-align: center;

  color: rgba(255, 255, 255, 0.4);
}
.description input {
  border-bottom: none;
  font-style: italic;
  text-align: start;
}

.lowerContainerLB {
  width: 100%;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.lowerContainerLB2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 450;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
}

.usersIcon {
  box-sizing: border-box;

  position: absolute;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  left: 12px;

  background: linear-gradient(
    186.22 deg "#131C20" -87.4% rgba(217, 217, 217, 0) 95.09%
  );
  border: 1px solid rgba(255, 255, 255, 0.46);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.TheBigContainerWrap {
  width: 80%;
  /* width: 100%; */
  height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapUpText {
  height: 10%;
  width: 100%;
  display: flex;
  position: relative;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  color: #ff5c00;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.Inn {
  margin: 0px;
  padding: 0px;
  font-style: normal;
  position: absolute;
  bottom: -28%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}

.countryName {
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  color: #ffffff;
}

.uploadForm svg {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 12%;
  top: 9%around;
  cursor: pointer;
  color: #ff5c00;
  z-index: 100;
}
.uploadForm svg:focus {
  cursor: pointer;
}

.listContainer {
  box-sizing: border-box;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 70%;
  height: 80%;

  background: linear-gradient(
      0.14deg,
      rgba(255, 255, 255, 0.2) 19.87%,
      rgba(12, 22, 24, 0.2) 100.94%
    ),
    #131c20;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.theListBorder {
  position: absolute;
  width: 15%;
  height: 20%;
  border-radius: 2px;
  left: 0.5%;
  top: 0.5%;
  background: #131c20;
}
.theListBorder2 {
  width: 15%;
  height: 20%;
  border-radius: 2px;

  background: #131c20;
}
.theListBorder3 {
  position: absolute;
  width: 15%;
  height: 20%;
  border-radius: 2px;
  left: 31.4%;
  top: 0.5%;
  background: #131c20;
}
.LineTopV {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  margin-left: 60%;
  width: 20%;
  height: 100%;
}

.verticleTop {
  position: absolute;
  width: 74%;
  height: 0px;
  left: 57%;
  top: 25%;

  border: 1px solid #ff5c00;
  transform: rotate(-89.79deg);
}
.Rightbar {
  position: absolute;
  right: 50px;
  width: 30%;
  height: 100%;
}
.verticleBottom {
  position: absolute;
  width: 56%;
  height: 0px;
  left: 65.8%;
  top: 81%;
  overflow: hidden;
  border: 1px solid #ff5c00;
  transform: rotate(-90deg);
}
.counter_ {
  height: 3%;
  width: 3%;
  font-size: 36px;
  position: absolute;
  left: 92%;
  top: 52.3%;
  color: #ff5c00;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;

  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.slashDeco1 {
  position: absolute;
  width: 61px;
  height: 0px;
  left: 86%;
  top: 3%;

  border: 1px solid #ff5c00;
}
.slashDeco2 {
  position: absolute;
  width: 33px;
  height: 0px;
  left: 89.8%;
  top: 5.5%;

  border: 1px solid #ff5c00;
}

.detailContainer {
  width: 80%;
  position: relative;
  height: 100%;
  display: flex;

  flex-direction: column;
}
.DetailTitle {
  height: 10%;
  width: 100%;
  display: flex;
  position: relative;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  color: #ff5c00;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;

  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.Inn2 {
  margin: 0px;
  padding: 0px;
  font-style: normal;
  bottom: -28%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}
.DetailListBorder {
  box-sizing: border-box;

  position: absolute;
  width: 80%;
  height: 80%;
  top: 15%;
  left: 10%;
  background: linear-gradient(
      0.14deg,
      rgba(255, 255, 255, 0.2) 19.87%,
      rgba(12, 22, 24, 0.2) 100.94%
    ),
    #131c20;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.veiwimage img {
  border-radius: 15px;
  size: 400px;
  margin-left: 15px;
  margin-top: 15px;
}
.placeTitle1 {
  height: 10%;
  width: 100%;
  display: flex;
  top: 1%;
  left: 36%;
  position: absolute;
  font-size: 36px;

  color: #ff5c00;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 44px;
  text-align: center;

  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.abstract1 {
  height: 10%;
  width: 100%;
  display: flex;
  top: 5%;
  left: 36%;
  position: absolute;
  font-size: 36px;

  color: #ff5c00;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 44px;
  text-align: center;

  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.P1 {
  position: absolute;
}
.P2title {
  height: 10%;
  width: 100%;
  display: flex;
  top: 55%;
  left: 2%;
  position: absolute;
  font-size: 36px;

  color: #ff5c00;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 44px;
  text-align: center;

  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.paragraph1 {
  font-style: normal;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 20%;
  position: absolute;
  top: 60%;
  left: 1.5%;
  font-weight: 200;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  color: #ffffff;
}
.intro {
  font-style: normal;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 50%;
  top: 12%;
  left: 35%;
  position: absolute;

  font-weight: 200;
  font-size: 14px;
  line-height: 15px;
  text-align: center;

  color: #ffffff;
}
.P2 img {
  position: absolute;
  left: 28%;
}
.P2title2 {
  height: 10%;
  width: 100%;
  display: flex;
  top: 55%;
  left: 31%;
  position: absolute;
  font-size: 36px;

  color: #ff5c00;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 44px;
  text-align: center;

  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.paragraph2 {
  font-style: normal;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 20%;
  position: absolute;
  top: 60%;
  left: 28%;
  font-weight: 200;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  color: #ffffff;
}
.P3 img {
  position: absolute;
  left: 55%;
}
.P2title3 {
  height: 10%;
  width: 100%;
  display: flex;
  top: 55%;
  left: 54%;
  position: absolute;
  font-size: 36px;

  color: #ff5c00;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 44px;
  text-align: center;

  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.paragraph3 {
  font-style: normal;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 20%;
  position: absolute;
  top: 60%;
  left: 56%;
  font-weight: 200;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  color: #ffffff;
}
.containerDetails {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #0c1618 0%, #0d1010 100%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.pageTitle {
  width: 100%;
  height: 15%;
  margin-top: 20px;
  color: #ff5c00;
  text-align: center;
  font-size: 36px;
}
.CountryName {
  margin: 0px;
  padding: 0px;
  font-style: normal;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}
.Inn3 {
  font-style: normal;
  margin-bottom: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 5px;
  font-weight: 200;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}
.ReCard {
  width: 100%;
  height: 85%;
  background: linear-gradient(180deg, #0c1618 0%, #0d1010 100%);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CityHeader {
  width: 80%;
  height: 95%;
  background: linear-gradient(
      0.14deg,
      rgba(255, 255, 255, 0.2) 19.87%,
      rgba(12, 22, 24, 0.2) 100.94%
    ),
    #131c20;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.listCardBorder {
  width: 100%;
  height: 200px;
  display: flex;

  margin: "5px";
}
.placeimage {
  width: 40%;
  height: 100%;

  border-radius: 22px;
  overflow: hidden;
}
.cardList {
  width: 60%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.smallCardtitle {
  height: 10%;
  width: 100%;
  display: flex;

  font-size: 36px;

  color: #ff5c00;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 44px;
  text-align: center;

  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.theQuestionWhere {
  height: 10%;
  width: 100%;

  font-size: 36px;

  color: #ff5c00;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 44px;
  padding-top: 5px;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.theParagraph {
  font-style: normal;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-top: 30px;
  font-weight: 200;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  color: #ffffff;
}
.WhereToStayCards {
  height: 100%;
  width: 100%;

  margin: 5px;
  display: flex;
  justify-content: start;
  gap: 20px;
  flex-wrap: wrap;
  align-content: start;
}

.theStay {
  height: 400px;
  width: 250px;

  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.Stayimg {
  min-height: 150px;
  width: 100%;
  border-radius: 22px;
  overflow: hidden;
}

.Staytitles {
  height: 10%;
  width: 100%;

  font-size: 36px;

  color: #ff5c00;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 44px;
  text-align: center;

  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.StayDescription {
  color: #ffffff;
  font-style: normal;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* width: 20%; */
  overflow: scroll;

  font-weight: 200;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  color: #ffffff;
}
select {
  background-color: transparent !important;
}
select option {
  margin: 40px;
  background: transparent !important;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.helloWorld div,
select,
option {
  background-color: transparent !important;
}

.helloWorld select {
  background-color: transparent !important;
}
.helloWorld option {
  background: linear-gradient(
      0.14deg,
      rgba(255, 255, 255, 0.2) 19.87%,
      rgba(12, 22, 24, 0.2) 100.94%
    ),
    #131c20 !important;
}
